<div class="container-fluid">

    <div class="row bg-secondary">
        <div class="col-md-12 text-white">

            <a routerLink="/inicio" class="text-white text-left">
                <img src="https://img.icons8.com/external-flatart-icons-flat-flatarticons/40/000000/external-castle-halloween-flatart-icons-flat-flatarticons.png" /> Home
            </a>

            <h1 class="text-center">Themes</h1>
            <h5 class="text-center">See here all the themes registered or register a new one:</h5>

            <div class="row d-flex justify-content-center mt-4 mb-5">
                <div class="col-md-2">
                    <div class="from-group">
                        <input [(ngModel)]="tema.tema" type="text" class="form-control" id="Description" placeholder="Enter the theme description">
                    </div>

                    <div class="d-flex justify-content-center mt-2">
                        <button class="btn btn-light" (click)="cadastrar()">Register</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="container">

    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="text-center">All themes</h2>
        </div>
    </div>

    <div class="row mt-3 mb-5 d-flex justify-content-center">
        <div class="col-md-6">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Description</th>
                        <th scope="col" class="text-right">Modifications</th>

                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of listaTemas">
                        <th>{{item.idTema}}</th>
                        <td>{{item.tema}}</td>
                        <td class="d-flex justify-content-end">
                            <button class="btn btn-info mr-3" [routerLink]="['/tema-edit',item.idTema]">Edit</button>
                            <button class="btn btn-danger" [routerLink]="['/tema-delete',item.idTema]">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>