<div class="container-fluid">

    <div class="row bg-secondary">
        <div class="col-md-12 text-white">

            <a routerLink="/inicio" class="text-white text-left">
                <img src="https://img.icons8.com/external-flatart-icons-flat-flatarticons/40/000000/external-castle-halloween-flatart-icons-flat-flatarticons.png" /> Home
            </a>

            <h1 class="text-center">Themes</h1>
            <h5 class="text-center">See here all the themes registered or register a new one:</h5>

            <div class="row d-flex justify-content-center mt-4 mb-5">
                <div class="col-md-2">
                    <div class="from-group">
                        <input type="text" class="form-control" id="Description" placeholder="Enter the theme description">
                    </div>

                    <div class="d-flex justify-content-center mt-2">
                        <button class="btn btn-light">Register</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="container">

    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="text-center">All themes</h2>
        </div>
    </div>

    <div class="row mt-3 mb-5 d-flex justify-content-center">
        <div class="col-md-6">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>