<footer class="page-footer font-small  pt-4" style="background-color: #0F0D01;">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 style="color: #dfcaa0;">Follow us on social media</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/lucas-silva-312454207/" alt="Link do linkedin" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/MrLucc" alt="Link do github" target="_blank" class="icoGitHub">
                            <i class="fa fa-github-alt" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3" style="background-color:#3f381b;">
        <span style="color: #dfcaa0;">© 2021 Copyright: Lucas 😴</span>

    </div>


</footer>