ul.social-network {
    list-style: none;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa {
    font-size: 35pt;
    color: #dfcaa0;
    padding: 10px;
}

.fa-linkedin:hover {
    color: #0a66c2;
}

.fa-github-alt:hover {
    color: #8b9492;
}


/*FONTE LINKADA NAS TAGS "P" E "A"(FONTE DARK SOULS)*/

@font-face {
    font-family: "fonteDS";
    src: url("../../assets/fonts/OptimusPrinceps.ttf") format("Truetype");
    font-weight: normal;
    font-style: normal;
}

h4 {
    font: 20px "fonteDS";
}

span {
    font: 20px "fonteDS";
}