.fs-16 {
    font-size: 16pt;
}

a {
    cursor: pointer;
}

.fa {
    color: #dfcaa0;
}


/*FONTE LINKADA NAS TAGS "P" E "A"(FONTE DARK SOULS)*/

@font-face {
    font-family: "fonteDS";
    src: url("../../assets/fonts/OptimusPrinceps.ttf") format("Truetype");
    font-weight: normal;
    font-style: normal;
}

p {
    font: 36px "fonteDS";
}

a {
    font: 36px "fonteDS";
}